<div class="bg-warning pb-3 bg-opacity-75 border border-3">
    <h2 class="display-4 text-center text-light"><em> Resend Confirmation </em></h2>
</div>

<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-style-10" style="width: 450px;">
    <div class="inner-wrap">
      <%= f.label :email %><%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      
      <div class="actions">
        <button class="w-100 button-89 mt-2" type="submit">Resend confirmation instructions</button>
      </div>
    </div>
    <em> <%= render "devise/shared/links" %></em>
  </div>

<% end %>

