<div class="bg-warning pb-3 bg-opacity-75 border border-3">
    <h2 class="display-4 text-center text-light"><em> Edit Account </em></h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="form-style-10">
  <div class="inner-wrap">
    <%= f.label "Confirm your changes by enter your password" %> <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>
</div>

<div class="form-style-10">
  <div class="inner-wrap">
    <%= f.label :first_name, class: "pt-2" %> <%= f.text_field :first_name %>
    <%= f.label :last_name, class: "pt-2" %> <%= f.text_field :last_name %>
    <%= f.label :email, class: "pt-2" %> <%= f.email_field :email %>
    <%= f.label :url, class: "pt-2" %> <%= f.text_field :url %>
    <%= f.label :telephone, class: "pt-2" %> <%= f.text_field :telephone %>
    <%= f.label :company, class: "pt-2" %> <%= f.text_field :company %>
    <%= f.label :bio, class: "pt-2" %> <%= f.text_area :bio %>
    <%= f.label :image, class: "pt-2" %> <em>(PLEASE USE A URL)</em> <%= f.text_field :image %>
    <%= f.label :background_image, class: "pt-2" %> <em>(PLEASE USE A URL)</em> <%= f.text_field :background_image %>
  </div>
</div>


<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
  <div class="form-style-10">
    <div><em> <%= image_tag "https://media.istockphoto.com/id/1166034144/vector/exclamation-point-on-the-box-of-red-words-showing-shock-popup-event-notification-on.jpg?s=612x612&w=0&k=20&c=JzhoGyRxMQBlmbaA3gl9Kdd1YTtWo0j7nb8WTKDz3HM=", width: 50, height: 50 %>
    Currently waiting confirmation for: <%= resource.unconfirmed_email %> </em> </div>
  </div>
<% end %>


<div class="form-style-10">
  <div class="inner-wrap">
    <%= f.label "Change password" %> <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>

    <%= f.label :password_confirmation %> <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
</div>



  <div class="actions pb-4">
    <%= f.submit "Update", class: "button-89"%>
  </div>
<% end %>

<%= button_to "Cancel my account", registration_path(resource_name), class: "button-89", data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>

