<main class="form-auth w-100 m-auto">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="bg-warning pb-3 bg-opacity-75 border border-secondary border-3">
      <h2 class="display-4 text-center text-light"><em> New Account </em></h2>
  </div>

<div class="form-style-10" style="width: 450px;">
  <div class="inner-wrap">
    <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.label :first_name %><%= f.text_field :first_name, autofocus: true %>
      <%= f.label :last_name %><%= f.text_field :last_name, autofocus: true %>
      <%= f.label :email %><%= f.email_field :email, autofocus: true, id: "inputEmail", autocomplete: "email" %>
      <%= f.label :password %><%= f.password_field :password, autocomplete: "new-password", id: "inputPassword" %>
      <%= f.label :password_confirmation %><%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword" %>

    <button class="w-100 button-89 mt-2" type="submit">Sign up</button>
  </form>
  </div>
  <em class="text-muted"><%= render "devise/shared/links" %></em>
</div>

<% end %>
</main>
