<p id="notice"><%= notice %></p>

<div class="bg-warning pb-1 bg-opacity-75 border border-3">
    <h2 class="display-1 text-center text-light"><em> Accounts </em></h2>
    <figcaption class="footer text-center text-muted">
      Hey Admin, here are all the registered accounts
    </figcaption>
</div>

<table class="table table-striped mt-4 mb-5">
  <thead>
    <tr class="pb-4 bg-warning bg-opacity-10 border border-secondary border-2">
      <th>First Name</th>
      <th>Last Name</th>
      <th>Email</th>
      <th>Created</th>
      <th colspan="3">Controls</th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr class="bg-warning bg-opacity-10 border border-secondary border-2">
        <td><%= account.first_name %></td>
        <td><%= account.last_name %></td>
        <td><%= account.email %></td>
        <td><%= find_date(account) %></td>
        <td>
        <%= link_to profile_path(account) do %>
          <i id="button-link" class="fa-solid fa-magnifying-glass text-secondary"></i>
        <% end %>
        </td>
        <td>
        <%= link_to delete_account_path(account.id), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="fa-solid fa-trash text-secondary"></i>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">

  <div class="col-sm-2 page_pagination">
      <div class="page_info">
        <%= page_entries_info @accounts %>
      </div>
    <%= will_paginate @accounts, :container => false %>
  </div>

</div>