<%= form_with(model: property) do |form| %>
  <%= render "layouts/validation", item: @property%>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, class: "form-control"%>
  </div>

  <% if @property.for_sale? %>
  <div class="form-group">
    <%= form.label :price, "Total Price" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <% else %>
  <div class="form-group">
    <%= form.label :price, "Monthly Price" %>
    <%= form.number_field :price, class: "form-control" %>
  </div>
  <% end %>

  <div class="form-group">
    <%= form.label :rooms %>
    <%= form.number_field :rooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bathrooms %>
    <%= form.number_field :bathrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :sqft %>
    <%= form.number_field :sqft, class: "form-control" %>
  </div>

  <div class="form-group pt-3 pb-3">
    <%= form.radio_button :for_sale, true, checked: true %> Selling <br/>
    <%= form.radio_button :for_sale, false %> Renting
  </div>

  <div class="form-group">
    <%= form.label :available_date %>
    <%= form.date_field :available_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :details %>
    <%= form.text_area :details, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :photo %>
    <%= form.file_field :photo, class: "form-control" %>
    <%= form.hidden_field :photo_cache %>
  </div>

  <div class="actions" style="padding: 10px">
    <%= form.submit "Save", class: "btn btn-lg btn-block btn-success" %>
  </div>
<% end %>
