<% @properties.each do |property| %>
    <div class="col-4">
        <div class="property border">
            <%= link_to property_path(property) do %>

            <div class="propety-thumb" style="background-image:url('<%= property_thumbnail_url(property) %>')">
            </div>

            <div class="property-summary p-3">      
                <h3 class="h5 mt-3"><%= link_to property.name, property_path(property) %></h3>

                <span class="mr-2"> <i class="fa-solid fa-bed"></i> <%= property.rooms %> </span>
                <span class="mr-2"> <i class="fa-solid fa-bath"></i> <%= property.bathrooms %> </span>
                <span> <i class="fa-regular fa-building"></i> <%= property.sqft%> ft</span>
            
                <p class="mt-2"><%= property.address %></p>
            </div>
            <% end %>
        </div>
    </div>
<% end %>
