<% properties.each do |property| %>
    <div class="propertyCard col-4 pb-5">
        <div class="property border h-100">

            <div class="propety-thumb" style="background-image:url('<%= property_thumbnail_url(property) %>')">
                  <%= link_to "", property_path(property) %>
            </div>

            <div class="property-summary p-3">      
                <h3 class="h5"><%= link_to property.name, property_path(property), class: "text-dark" %></h3>

                <span class="me-2"> 
                    <i class="fa-solid fa-bed text-muted ms-1"></i>
                    <%= property.rooms %>
                </span>
                <span class="me-2">
                    <i class="fa-solid fa-bath text-muted ms-1"></i> 
                    <%= property.bathrooms %>
                </span>
                <span class="me-2">
                    <i class="fa-regular fa-building text-muted ms-1"></i>
                    <%= property.sqft%> ft
                </span>
            
                <p class="mt-2"><%= property.address %></p>
                <span> <%= property.for_sale? ? "For Sale" : "For Rent" %> </span>
            </div>
        </div>
    </div>
<% end %>