<div class="bg-warning pb-3 bg-opacity-75 border border-secondary border-3">
    <h2 class="display-4 text-center text-light"><em> New Property </em></h2>
</div>

<%= form_with(model: @property) do |form| %>
  <%= render "layouts/validation", item: @property%>
  
<div class="form-style-10">
  <div class="inner-wrap">
    <%= form.label :name %> <%= form.text_field :name %>
    <%= form.label :address %> <%= form.text_field :address %>
    <% if @property.for_sale? %>
        <%= form.label :price, "Total Price" %> <%= form.number_field :price %>
    <% else %>
        <%= form.label :price, "Monthly Price" %> <%= form.number_field :price %>
    <% end %>
    <%= form.label :rooms %> <%= form.number_field :rooms %>
    <%= form.label :bathrooms %> <%= form.number_field :bathrooms %>
    <%= form.label :sqft %> <%= form.number_field :sqft %>
    <div class="pt-3 pb-3">
        <%= form.radio_button :for_sale, true, checked: true %> Selling <br/>
        <%= form.radio_button :for_sale, false %> Renting
    </div>
    <%= form.label :available_date %> <%= form.date_field :available_date %>
    <%= form.label :details %> <%= form.text_area :details %>
    <%= form.label :photo %> <%= form.text_field :photo %>
  </div>
  
  <div class="actions">
      <%= form.submit "Save", class: "button-89" %>
  </div>
</div>

<% end %>
