<p id="notice"><%= notice %></p>

<h3>News</h3>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @news.each do |new| %>
      <tr>
        <td><%= new.title %></td>
        <td><%= find_author(new) %></td>
        <td><%= find_date(new) %></td>
        <td><%= link_to 'Show', new %></td>
        <td><%= link_to 'Edit', edit_news_path(new) %></td>
        <td><%= link_to 'Destroy', new, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create News Announcement', new_news_path, class: "btn btn-success"  %>
