<div class="profile-main-photo" style="background-image:url(<%= profile_banner(@account)%>)">
  <div class="photo-overlay">
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="row">
        <div class="col">
          <p class="h4 mb-0"><%= @account.first_name + " " + @account.last_name %></p>
          <p class="text-muted"> Fast Homes Member Since <%= @account.created_at.strftime('%m/%d/%Y') %>
        </div>

        <div class="col-lg-8 text-center">
          
        </div>
      </div>

    <div class="row border-top border-bottom mt-5 mb-4 pt-4 pb-4">
      <div class="col">
        <p class="h5">Description</p>

        <div id="prop-details" class="">
          <%= simple_format  @account.bio %>
        </div>

        <button id="toggleDetails" class="btn btn-info text-light mt-3">Show more</button> <br />
        <%= link_to 'Edit', edit_property_path(@property), class: "btn btn-success mt-3" %>
      </div>
    </div>
  </div>


<div class="col-sm-4">
    <div class="text-center border p-4 pb-4">
    <div class="mb-2">
        <%= link_to profile_picture(@account), edit_account_registration_path(@account.id) %>
    </div>
    <h3 clas="h4 m-0"> <%= @account.first_name %></h3>
    <p> <%= @account.company %> </p>

    <div class="d-grid gap-2 pb-2">
        <button class="btn btn-info text-light" id="show-tel" data-telephone="<%= @account.telephone %>"><i class="fa-solid fa-phone pe-1" style="height: 65%"></i> <span class="telephone">CALL</span> </button>
    </div>
    <div class="d-grid gap-2">
        <button class="btn btn-success text-light" id="show-email" data-email="<%= @account.email %>"><i class="fa-regular fa-envelope pe-1" style="height: 65%"></i> <span class="email">EMAIL</span> </button>
    </div>
</div>

    <div class="row mr-lg-3 mt-sm-3 bg-light p-3">
        <div class="col-3">
            <p class="mb-0 text-center"><strong><%= @properties_sold %></strong></p>
            <p class="mt-0 text-center"><strong>Sold</strong></p>
        </div>
        <div class="col-3">
            <p class="mb-0 text-center"><strong><%= @properties_for_sale %></strong></p>
            <p class="mt-0 text-center"><strong>For Sale</strong></p>
        </div>
        <div class="col-3">
            <p class="mb-0 text-center"><strong><%= @properties_leased %></strong></p>
            <p class="mt-0 text-center"><strong>Leased</strong></p>
        </div>
        <div class="col-3">
            <p class="mb-0 text-center"><strong><%= @properties_for_rent %></strong></p>
            <p class="mt-0 text-center"><strong>For Rent</strong></p>
        </div>
    </div>
</div>


<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="h3 mb-3">View listings</p>
      </div>
      <%= render "properties/list_properties", properties: @property %> 
    </div>
  </div>
</section>
